.centerRevItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.reviewCreate {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  padding: 50px;
  z-index: 1000;
  max-width: 50%;
  min-width: 50%;
  max-height: 50%;
  min-height: 50%;
}

.addRevImage {
  border: 1px solid red;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  padding: 50px;
  z-index: 1000;
  max-width: 20%;
  min-width: 20%;
  max-height: 20%;
  min-height: 20%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.ratings {
  position: relative;
  vertical-align: bottom;
  display: inline-block;
  color: #ECBE24;
}

.full-stars {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
}

.empty-stars {
  font-size: 14pt;
}

.full-stars {
  font-size: 14pt;
}

.reviewList {
  overflow-y: scroll;
  max-height: 42em;
  max-width: 70%;
}

.star-desc {
  min-width: 7ch;
}

.verticalCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.revBreakdown {
  width: 50ch;
  min-width: 30%;
  max-width: 30%;
  padding: 5px;
  border: 3px solid rgba(0, 0, 0, 0.7);
  border-radius: 3%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.starRatings {
  position: relative;
  vertical-align: bottom;
  color: #cacaca;
  min-width: 10ch;
}

.full-starBars {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  min-height: 14pt;
  max-height: 14pt;
  background-color: #00d400;
  display: default;
  font-size: 14pt;
}

.empty-starBars {
  font-size: 14pt;
  max-height: 14pt;
  min-width: 10ch;
  max-width: 100px;
  background-color: #cacaca;
  display: default;
}

.starPadding {
  padding: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.labelPadding {
  padding-right: 10px;
}

.activeFilters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  right: 50%;
}

.divPadding {
  padding: 5px;
}

.charDivs {
  max-height: 8px;
  background-color: gray;
}

.charBars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.charFlag {
  position: relative;
  top: -3px;
}

.starRadio {
  color: gold;
  opacity: 0;
}

.starRadLab {
  color: gold;
  position: absolute;
  min-width: 100%;
  vertical-align: baseline;
  padding: 3px 3px 4px 7px;
}

.indStarRadLab {
  font-size: 14pt;
  padding: 1px;
}

.summary {
  max-width: 90%;
  font-size: 12pt;
  padding: 3px;
  margin: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.placeholding {
  opacity: 0;
  padding: 2px;
}

.starSelected {
  padding: 2px;
}

.bigRevImage {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  padding: 5px;
  z-index: 1000;
}

.revAverage {
  font-size: 42;
}

.reviewParent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.listItem {
  padding: 5px;
  margin: 5px;
  border: 3px solid rgba(0, 0, 0, 0.7);
  border-radius: 3%;
}

.bottomButton {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 70%;
}

.newest {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 70%;
}

.charCSS {
  font-size: 8pt;
}

.gotChars {
  color: green;
  font-size: 8pt;
}

.needChars {
  color: red;
  font-size: 8pt;
}

.imgBtn {
  padding: 5px;
  margin: 5px;
}

.warnText {
  font-size: 9pt;
  top: 50%;
  padding-bottom: 4px;
}
/*# sourceMappingURL=style.css.map */