.productDetail {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem auto;
  width: auto;
  margin-left: 50px;
  margin-right: 50px;
  height: 400px;
  border-style: solid;
  background-color: lightblue;
}

.productDescription {
  width: 100%;
  height: 20%;
  background-color: red;
}

.productGallery {
  width: 50%;
  height: 100%;
  background-color: green;
  min-width: 200px;
}

.groupDiv {
  width: 50%;
  height: 100%;
  background-color: firebrick;
  min-width: 200px;
}

.styleSelector {
  width: 100%;
  height: 60%;
  flex: 0;
  background-color: yellow;
}

.dropdownContainer {
  height: 20%;
  background-color: orange;
  display: flex;
  justify-content: 'center';
  align-items: center;
  text-align: center;
}

.quantityDropdown {
    flex-grow: 1;


}
.sizeDropdown {
  flex-grow: 1;

}