/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
  margin: 0 !important;
	border: 0!important;
	font-size: 100%!important;
	font: inherit!important;
	vertical-align: baseline !important;
}

.gg-math-minus {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 16px;
  height: 2px;
  background: currentColor;
  border-radius: 10px
}
.divLeftExpanded {
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: 90vw;
  min-width: 400px;
}

.productDetail {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 3rem auto;
  width: auto;
  margin-left: 50px;
  margin-right: 50px;
  height: 700px;
  border-style: solid;
 justify-content: center;
}

.productDescription {
  width: 100%;
  display: flex;
  height: 50%;
  background-color: cyan;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.productGallery {

  width: 100%;
  height: 70%;

  min-width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;

}

.expandedProductGallery {
  position: relative;
  width: 100%;
  height: 90%;
  min-width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

/* .expandedProductGallery img {
  /* max-width: 65%;
  /* cursor: url(./assets/img/minus--v1.png) 0 0, auto; */
  /* cursor: url(https://www.shareicon.net/data/16x16/2015/08/25/90542_minus_512x512.png), auto;
}
*/
.expandedImage {
  cursor: url(https://www.shareicon.net/data/16x16/2015/08/25/90542_minus_512x512.png), auto;
  height: 100%;
}

.zoomedPicture {
  position: absolute;
  pointer-events:none;
  overflow: hidden;
  width: 200%;
  height: 200%;

}

.zoomedPictureDiv {

  /*
  width: auto;
  height: auto;
  max-height: 100%;
  object-fit: scale-down;
  max-width: 100%; */
  overflow: hidden;
    position: relative;
    /* width: 100%; */
    /* height: 90%; */
    min-width: 200px;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    flex-direction: row;

}


.productGallery img {
  max-width: 65%;
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;

}




.groupDivRight {
  width: 50%;
  height: 100%;
  background-color: firebrick;
  min-width: 400px;
}

.groupDivLeft {
  justify-content: space-around;
  display: flex;
  flex-direction: column;

  height: 100%;
  min-width: 400px;
}

.styleSelector {
  width: 100%;
  height: 30%;
  flex: 0;
  background-color: yellow;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  object-fit: scale-down;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-y:auto;
  gap: 3px;
}

.resizableImage {
  position: relative;
  width: auto;
  height: auto;
  max-height: 100%;
  object-fit: scale-down;
  max-width: 100%;
}

.dropdownContainer {
  height: 20%;
  background-color: orange;
  display: grid;
  align-items: center;
  text-align: center;
  grid-template-rows: 3fr 1fr;
}

.addToCartButton {
  cursor: pointer;
  padding: 3px;
}

.addToCart {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pickSizeErrorMessage {
  z-index: 1,

}

.errorMessageDiv {

}

.quantityDropdown {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.sizeDropdownDiv {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.sizeDropdown {
  display: grid;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
  width:100%;
  height: 100%;
}

.style {
  aspect-ratio: 1;
  position: relative;
  object-fit: scale-down;
  width: 100%;
  background-color: purple;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectedResizableImage {
  width: auto;
  height: auto;
  max-height: 100%;
  object-fit: scale-down;
  max-width: 100%;
  border-style: solid;
  border-color: green;
}

.floatingCheck {
  position: absolute;
  top: 0;
  left: 0;
}

.styleGallery {
  position: relative;
  top:0px;
  left:0px;
  background: rgba(76, 175, 80, 0.3);
  width: 100%;
  height: 100%;
  max-height: 30%;
  min-width: 400px;
  z-index: 0;
  display: flex;
  justify-content: space-around;
  gap: 2px;
}

.expandedStyleGallery {
  position: relative;
  top:0px;
  left:0px;
  background: rgba(76, 175, 80, 0.3);
  width: 100%;
  height: 10%;
  max-height: 30%;
  min-width: 400px;
  z-index: 0;
  display: flex;
  justify-content: space-around;
  gap: 2px;
}

.styleGalleryIcon {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center
}

.styleGalleryIcon svg {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 90%;
  align-items: center
}

.galleryArrow {
  min-width: 8%;
  max-width: 90px;
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.galleryArrow svg {
  z-index: 100;
}

.galleryArrowRow {
  width: 10%;
  object-fit: scale-up;

  height: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.styleGalleryThumbnail {
  height:100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.exitFullscreenButton {
  width: 10%;
  display: flex;
  position: absolute;
  height: inherit;
  right: 0;
  pointer-events: painted;
  flex-direction: column-reverse;
}
.exitFullscreenButton svg {
  width: auto;
  height: auto;
  z-index: 10;
}
.styleGalleryThumbnailSelected {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.styleGalleryThumbnailSelected img {
  z-index: 10;
  box-shadow: 0 0 10px 10px rgb(228 121 17 / 90%);
}

.anotherDiv {
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.thumbnailFloatingCheck {
  z-index: 2;
  position: absolute;
  top: 10px;
  left: 10px;
}

.galleryDiv {
  display: flex;
  justify-content: center;
  align-content: center;
  width: auto;
  min-width: 10%;
}

.galleryDiv svg {
  z-index: 10;
}