/*-------------Header---------*/
.header {
  color: black;
  font-weight: 100;
}

/*-----------Search----------*/
.search-bar {
  display: flex;
  height: 45px;
  max-width: 100%;
  margin: 0 100px 0 100px;
}

.search-field {
  background-color: lightgrey;
  border: none;
  color: black;
  float: left;
  font-size: 15px;
  font-weight: bold;
  width: 85%;

}

.search-button {
  background-color: lightgrey;
  border: none;
  float: right;
  font-size: 15px;
  font-weight: bold;
  width: 15%;

}.search-button:hover {
  border: 1px solid black;
}
/*---------Q and A set----------*/


/*---------Question----------*/
.question {
  display: flex;
  font-weight: bold;
  max-width: 100%;
  margin: 0 100px 0 100px;
  padding-top: 10px;
}
.question-text {
  height: auto;
  float: right;
  width: 60%;

}
.question-links {
  float: left;
  height: auto;
  width: 40%;
  display: flex;
  justify-content: end;

}

.question-help-link {
  border: none;
}

.question-add-answer-link {
  border: none;
}

/*-------------Answer---------*/
.answer {
  background-color: green;

}
.answer-text {
  background-color: green;

}
.answer-identifier {
  background-color: blue;

}
.answer-links {
  background-color: yellow;

}

.answer-help-link {
  background-color: yellow;
}

.answer-report-link {
  background-color: yellow;
}